ipykernel
pandas
matplotlib
seaborn
nbconvert
opencv-python
pillow
scikit-learn
pyyaml
scipy
kaggle
tqdm
pydicom
torch
torchvision
pytorch-lightning
albumentations
iterative-stratification
timm
einops
wandb
torch-ema
transformers
pyarrow
fastparquet
plotly
ipywidgets
imblearn
PyWavelets